{% extends 'base.html' %}
{% load static %}

{% block content %}
	<script src="/static/jquery.min.js"></script>
	<script>
		$(document).ready(function(){
			var password=document.getElementById("password");
			var confirm_password=document.getElementById("confirm_password");
			function validatePassword(){
				if(password.value != confirm_password.value){
					confirm_password.setCustomValidity("Passwords Don't Match");
				}
				else{
					confirm_password.setCustomValidity('');
				}
			}
			password.onchange=validatePassword;
			confirm_password.onkeyup=validatePassword;

		});
		
	</script>

		<div class="span9">
    	<ul class="breadcrumb">
		<li><a href="{% url 'login' %}">Login</a> <span class="divider">/</span></li>
		<li class="active">Forget password?</li>
    	</ul>
	<h3> FORGOT YOUR PASSWORD?</h3>	
	<hr class="soft"/>
	
	<div class="row">
		<div class="span9" style="min-height:900px">
			<div class="well" style="background:#202020;color:white">
			<h5>Reset your password</h5><br/>
			<form method="post" action="{% url 'changePasswordAction' %}">
			{% csrf_token %}

			  <input type="hidden" name="username" id="username" value="{{username}}"/>
			  <div class="control-group">
				<label class="control-label" for="password">New Password</label>
				<div class="controls">
				  <input class="span3" type="password" name="password" id="password" pattern=".{8,}" title="Eight or more Characters" placeholder="New Password" required/>
				</div>
			  </div>
			  <div class="control-group">
				<label class="control-label" for="confirm_password">Confirm Password</label>
				<div class="controls">
				  <input class="span3" type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password" required/>
				</div>
			  </div>
			  <div class="controls">
			  <button type="submit" class="btn block">Submit</button>
			  </div>
			</form>
		</div>
		</div>
	</div>	
		
		{% if msg %}
			<script>
				alert('{{msg}}');
			</script>
		{% endif %}
{% endblock %}