{% extends 'base.html' %}
{% load static %}
{% block content %}
	

	<div class="span9">
    <ul class="breadcrumb">
		<li>Home<span class="divider">/</span></li>
		<li class="active">Edit Model</li>
    </ul>
	<h3>Edit Model</h3>
	<hr class="soft"/>	
	<div class="well" style="background:#202020;color:white">
	<br/></br>
	<form class="form-horizontal" method="post" action="{% url 'editModelAction' %}">
	{% csrf_token %}
		{% for v in data %}
			<input type="hidden" name="mid" value="{{v.id}}"/>
		<div class="control-group">
			<label class="control-label" for="vehicle">Vehicle<sup>*</sup></label>
			<div class="controls">
			  <input type="text" name="vehicle" id="vehicle" placeholder="vehicle" value="{{v.vehicle_id.vehicle_name}}" readonly="true" required/>
			</div>
		 </div>	
		<div class="control-group">
			<label class="control-label" for="brand">Brand<sup>*</sup></label>
			<div class="controls">
			  <input type="text" name="brand" id="brand" placeholder="brand" value="{{v.brand_id.brand_name}}" readonly="true" required/>
			</div>
		 </div>	
		<div class="control-group">
			<label class="control-label" for="model">Model<sup>*</sup></label>
			<div class="controls">
			  <input type="text" name="model" id="model" placeholder="Model" value="{{v.model_name}}" required/>
			</div>
		 </div>
		 	  
		<div class="control-group">
			<div class="controls">
				
				<input class="btn btn-large btn-success" type="submit" value="Update" />
			</div>
		</div>	
		{% endfor %}	
	</form>
	<a href="{% url 'viewModel' %}" class="btn btn-large pull-right">Back</a>
</div>
</div>		
	

	<script src="/static/jquery.min.js"></script>

	<script>
		$(document).ready(function(){
			$("#vehicle").change(function(){
				vid=$("#vehicle").val();
				$.ajax({
					url:"{% url 'getBrand' %}",
					data:{'vehicle_id':vid},
					success:function(data){
						$("#brand").html(data);
					}
				});
			});
		});
	</script>
		{% if messages %}
			{% for message in messages %}
			<script>
				alert('{{message}}');
			</script>
			{% endfor %}
		{% endif %}
{% endblock %}