{% load static %}
<html>
	<script src="/static/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
		$('#count').change(function(){
			count=$('#count').val();
			price=$('#price').val();
			cost=count*price;
			$('#cost').val(cost);
		});

	});
	</script>
	<body>
		<form method="post" action="{% url 'addOrder' %}">
		{% csrf_token %}
			{% for v in data %}
				<table>
					<tr>
						<td><input type="hidden" id="cart_id" name="cart_id" value="{{v.id}}"/></td>
						<td><input type="hidden" id="price" name="price" value="{{v.part_id.price}}"/></td>
					</tr>
					<tr>
						<td></td>
						<td><img src="{{v.part_id.path.url}}" heigh="80px" width="80px" alt="no pic"/></td>
					</tr>
					<tr>
						<td>Part Name</td>
						<td>{{v.part_id.part_name}}</td>
					</tr>
					<tr>
						<td>Model</td>
						<td>{{v.part_id.model_id.model_name}}</td>
					</tr>
					<tr>
						<td>Brand</td>
						<td>{{v.part_id.brand_id.brand_name}}</td>
					</tr>
					<tr>
						<td>Count</td>
						<td><input type="number" id="count" name="count" value="{{v.count}}"/></td>
					</tr>
					<tr>
						<td>Total Price</td>
						<td><input type="number" id="cost" name="cost" value="{{v.total_price}}" readonly="true"/></td>
					</tr>
					<tr>
						<td></td>
						<td><input type="submit" value="Confirm Order"/></td>
					</tr>
				</table>
			{% endfor %}
		</form>
		{% if msg %}
			<script>
				alert('{{msg}}');
			</script>
		{% endif %}
	</body>
</html>