{% extends 'base.html' %}
{% load static %}
{% block content %}
	
	<div class="span9">
    	<ul class="breadcrumb">
		<li>Home<span class="divider">/</span></li>
		<li>Spare Parts<span class="divider">/</span></li>
		<li class="active">Update Spare Part</li>
    	</ul>
	<h3>Update Spare Part</h3>
	<hr class="soft"/>	
	<div class="well" style="background:#202020;color:white">
	<br/><br/>
	<form class="form-horizontal" method="post" action="{% url 'updateSparePartAction' %}" enctype="multipart/form-data">
	{% csrf_token %}
		{% for v in data %}
		<input type="hidden" id="part_id" name="part_id" value="{{v.id}}"/>
		<div class="control-group">
			<label class="control-label"></label>
			<div class="controls">
			  <img src="{{v.path.url}}" class="img-resize-user" alt="no pic"/>
			</div>
		 </div>	
		<div class="control-group">
			<label class="control-label" for="part_img">Image<sup>*</sup></label>
			<div class="controls">
			  <input type="file" name="part_img" id="part_img"/>
			</div>
		 </div>	
		<div class="control-group">
			<label class="control-label" for="vehicle">Vehicle<sup>*</sup></label>
			<div class="controls">
			  <select id="vehicle" name="vehicle" required>
				<option value="{{v.vehicle_id_id}}">{{v.vehicle_id.vehicle_name}}</option>
				{% for ve in vehicle %}
					<option value="{{ve.id}}">{{ve.vehicle_name}}</option>
				{% endfor %}
			</select>
			</div>
		 </div>
		 	  
		<div class="control-group">
			<label class="control-label" for="brand">Brand<sup>*</sup></label>
			<div class="controls">
				<select id="brand" name="brand" required>
					<option value="{{v.brand_id_id}}">{{v.brand_id.brand_name}}</option>
					{% for b in brand %}
						<option value="{{b.id}}">{{b.brand_name}}</option>
					{% endfor %}
				</select>
			</div>
		 </div>

		<div class="control-group">
			<label class="control-label" for="model">Model<sup>*</sup></label>
			<div class="controls" id="modeldiv">
			  	<div class="row" style="margin-left:0px">
				{% for m in model %}
				<div class="col" style="margin-top:10px">
					<input type="checkbox" style="margin-bottom:6px" name="model" value="{{m.id}}"
					{% for p in part_model %}
						{% if p.model_id == m %}
							checked="true"
						{% endif %}
					{% endfor %}

					/><span style="margin-left:20px">{{m.model_name}}</span>
				</div>
				{% endfor %}
				</div>
			</div>
		 </div>
		<div class="control-group">
			<label class="control-label" for="category">Category<sup>*</sup></label>
			<div class="controls">
			  <select id="category" name="category" required>
				<option value="{{v.category_id_id}}">{{v.category_id.category}}</option>
				{% for c in category %}
					<option value="{{c.id}}">{{c.category}}</option>
				{% endfor %}
			  </select>
			</div>
		 </div>
		<div class="control-group">
			<label class="control-label" for="part_name">Spare Part Name<sup>*</sup></label>
			<div class="controls">
			  <input type="text" name="part_name" id="part_name" value="{{v.part_name}}" placeholder="Spare Part Name" required/>
			</div>
		 </div>
		<div class="control-group">
			<label class="control-label" for="details">Details<sup>*</sup></label>
			<div class="controls">
			 <textarea name="details" id="details" rows="5" placeholder="Details" required>{{v.details}}</textarea>
			</div>
		 </div>
		<div class="control-group">
			<label class="control-label" for="price">Price<sup>*</sup></label>
			<div class="controls">
			  <input type="number" name="price" id="price" value="{{v.price}}" placeholder="Price" required/>
			</div>
		 </div>
		<div class="control-group">
			<label class="control-label" for="stock">Stock<sup>*</sup></label>
			<div class="controls">
			  <input type="number" name="stock" id="stock" value="{{v.stock}}" placeholder="Stock" required/>
			</div>
		 </div>
		
		<div class="control-group">
			<div class="controls">
				
				<input class="btn btn-large btn-success" type="submit" value="Update" />
			</div>
		</div>	
		{% endfor %}
	</form>
	
</div>
</div>	
		
					

	<script src="/static/jquery.min.js"></script>

	<script>
		$(document).ready(function(){
			$("#vehicle").change(function(){
				vid=$("#vehicle").val();
				$.ajax({
					url:"{% url 'getBrand' %}",
					data:{'vehicle_id':vid},
					success:function(data){
						$("#brand").html(data);
					}
				});

				$.ajax({
					url:"{% url 'getCategory' %}",
					data:{'vehicle_id':vid},
					success:function(data){
						$("#category").html(data);
					}
				});
			});
		
			$("#brand").change(function(){
				bid=$("#brand").val();
				$.ajax({
					url:"{% url 'getModel' %}",
					data:{'brand_id':bid},
					success:function(data){
						$("#modeldiv").html(data);
					}
				});
			});
		});
	</script>
	{% if messages %}
			{% for message in messages %}
			<script>
				alert('{{message}}');
			</script>
			{% endfor %}
	{% endif %}
{% endblock %}