{% extends 'base.html' %}
{% load static %}
{% block content %}

	<div class="span9">
    <ul class="breadcrumb">
		<li>Home<span class="divider">/</span></li>
		<li class="active">Workshops</li>
    </ul>
	<h3> Workshops </h3>	
	<hr class="soft"/>		
	{% if msg %}
		<label>{{msg}}</label>
	{% else %}		
	<table class="table table-bordered" style="background:#202020;color:white">
                <tr>
		  <th>Shop Name</th>
                  <th>Phone</th>
                  <th>Email</th>
		  <th>Place</th>
                  <th>Username</th>
		  <th>Status</th>
                  <th></th>
		  <th></th>
		</tr>
		{% for v in data %}
                <tr>
                  <td>{{v.shop_name}}</td>
		  <td>{{v.phone}}</td>
                  <td>{{v.email}}</td>
		  <td>{{v.place}}</td>
		  <td>{{v.username}}</td>
                  <td>{{v.status}}</td>
		  <td><a class="btn" href="{% url 'workshopDetails' v.id %}">Details</a></td>
		  <td><a class="btn" href="{% url 'removeWorkshop' v.id %}">Remove</a></td>
                </tr>
		{% endfor %}
            </table>
	{% endif %}
	<br/>
</div>
		<script src="/static/jquery.min.js"></script>
		{% if messages %}
			{% for message in messages %}
			<script>
				alert('{{message}}');
			</script>
			{% endfor %}
		{% endif %}
		
			
		
{% endblock %}