{% extends 'base.html' %}
{% load static %}
{% block content %}
	<div class="span9">
    <ul class="breadcrumb">
		<li>Home<span class="divider">/</span></li>
		<li class="active">Complaint</li>
    </ul>
	<h3> Complaint</h3>
	<hr class="soft"/>	
	<div class="well" style="background:#202020;color:white;">
	<br/><br/>
	<form class="form-horizontal" method="post" action="{% url 'writeComplaintAction' %}">
	{% csrf_token %}	
		<div class="control-group">
			<label class="control-label" for="subject">Subject<sup>*</sup></label>
			<div class="controls">
			  <textarea name="subject" id="subject" rows="2" placeholder="Subject" required></textarea>
			</div>
		 </div>
		 	  
		
		<div class="control-group">
			<label class="control-label" for="complaint">Complaint<sup>*</sup></label>
			<div class="controls">
			  <textarea name="complaint" id="complaint" rows="4" placeholder="Complaint" required></textarea>
			</div>
		 </div>
		<div class="control-group">
			<div class="controls">
				
				<input class="btn btn-large btn-success" type="submit" value="Submit" />
			</div>
		</div>		
	</form>
</div>

</div>
	

		<script src="/static/jquery.min.js"></script>
		{% if messages %}
			{% for message in messages %}
			<script>
				alert('{{message}}');
			</script>
			{% endfor %}
		{% endif %}

{% endblock %}